{% include "_includes/macros" %}

<section
	class="l-section" id="work">
	{# <h2 class="h3">Selected works</h2> #}
	<div class="c-project__items">

		{% for block in entry.projectGrid %}
			<div class="c-project__item">

				{% if block.type == 'projects' %}

					{% set image = block.image.first() %}
					<div class="c-project__content">
						<div class="c-project__image">
							{% if image %}
								<img src="{{ image.getUrl() }}"/>
							{% endif %}
						</div>

						<div class="c-project__details">
							<h3 class="h3 c-project__title u-mb-1">{{ block.projectTitle }}</h3>
							<h4 class="h4 c-project__subtitle u-mb-1">{{ block.subtitle }}</h4>
							{% set url = block.projectLink.one() %}
							{% if url %}
								<a class="c-project__text" href="{{ url.url }}">{{ block.text }}</a>
							{% endif %}
						</div>
					</div>

				{% endif %}
			</div>
		{% endfor %}

	</div>
</section>
